@model BusinessObject.BOConfirmEmail
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <meta name="description" content="">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="icon" href="~/img/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/css/util.css">
    <link rel="stylesheet" href="~/css/main.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/img/img-01.png" alt="IMG">
                    </a>
                </div>
                @using (Html.BeginForm("ForgotPassword_ResetForm", "User", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()

                    <span class="login100-form-title">
                        Xác thực email
                    </span>
                    @Html.ValidationMessageFor(m => m.Email, null, htmlAttributes: new { @class = "fs-12", style = "color: red;" })

                    <div class="wrap-input100 validate-input" data-validate="Email is required">
                        @*<input class="input100" type="text" name="email" placeholder="Email">*@
                        @Html.TextBoxFor(model => model.Email, new { @class = "input100", type = "text", placeholder = "Email", @readonly = true })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.AuthCode, null, htmlAttributes: new { @class = "fs-12", style = "color: red;" })
                    <div class="wrap-input100 validate-input" data-validate="Code is required">
                        @Html.TextBoxFor(model => model.AuthCode, new { @class = "input100", placeholder = "Nhập mã xác thực đã được gửi đến email" })
                        <span class="focus-input100">
                        </span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 form-group">
                        <label for="agree-term" class="label-agree-term fs-14 d-inline float-right"><a onclick='RefreshResetAuthEmail()' class="term-service hov-pointer">Gửi lại mã</a></label>
                    </div>
                    @Html.ValidationSummary(true, null, new { @class = "fs-12", style = "color: red;" })
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Gửi
                        </button>
                    </div>



                }
                @*<form class="login100-form validate-form">
                    </form>*@
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--=============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--=============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--=============================================================================================-->
    <script src="~/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })

    </script>
    <script src="~/js/login.js"></script>
    <script>
        function RefreshResetAuthEmail() {
            var email = $("#Email").val().trim();
            $.ajax({
                url: '@Url.Action("RefreshResetAutEmail", "User")'+'?email=' + email,
                type: "GET",
                success: function (data) {
                    if (data.success) {
                        alert("Gửi thành công!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });

        };


    </script>
</body>
</html>