@model BusinessObject.BOUserInfo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var selectedSpecialityGroup = new SelectList(ViewBag.SpecialiyGroups).FirstOrDefault(o => o.Value == Model.SpecialityGroupId.ToString());

    var selectedSpeciality = new SelectList(ViewBag.Specialities).FirstOrDefault(o => o.Value == Model.SpecialityId.ToString());
    var countries = (List<SelectListItem>)ViewBag.Countries;
}

<div class="col-12">
    <h2>Công nghiệp phụ trợ</h2>
</div>
<div class="col-12">
    <div class="form-group">

        @Html.LabelFor(model => model.GroupCompanyName, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.GroupCompanyName, new { @class = "form-control", type = "text", required = true })
        @Html.ValidationMessageFor(model => model.GroupCompanyName, string.Empty, new { @class = "invalid-feedback" })
    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.WebsiteAddress, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.WebsiteAddress, new { @class = "form-control", type = "text" })
        @Html.ValidationMessageFor(model => model.WebsiteAddress, string.Empty, new { @class = "invalid-feedback" })

    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.TaxCode, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control", type = "text", required = true })
        @Html.ValidationMessageFor(model => model.TaxCode, string.Empty, new { @class = "invalid-feedback" })

    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.TaxCodeTime, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.TaxCodeTime, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.EstablishYear, "Năm thành lập", new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.EstablishYear, new { @class = "form-control", type = "text" })
        @Html.ValidationMessageFor(model => model.EstablishYear, string.Empty, new { @class = "invalid-feedback" })

    </div>
</div>
<div class="col-12">
    <div class="form-group">

        @Html.LabelFor(model => model.Address, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", type = "text", required = true })
    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <label class="font-weight-bold" for="sltSpecializaGroup">Khối đào tạo</label>
    @Html.DropDownListFor(model => model.SpecialityGroupId, new SelectList(ViewBag.SpecialiyGroups, "Value", "Text", selectedSpecialityGroup), new { @class = "form-select form-group w-100", @id = "sltSpecialityGroup", required = true })
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <label class="font-weight-bold" for="sltDetailSpecialzes">Chi tiết ngành/học công tác</label>
    @Html.DropDownListFor(model => model.SpecialityId, new SelectList(ViewBag.Specialities, "Value", "Text", selectedSpeciality), new { @class = "form-select form-group w-100", @id = "sltSpeciality", required = true })
</div>
<div class="col-xl-6 col-md-6 col-sm-12">

    @Html.LabelFor(model => model.Country, "Quốc gia", new { @class = "font-weight-bold" })
    @Html.DropDownListFor(model => model.Country, new SelectList(countries, "Value", "Text", "vi"), new { @class = "form-select form-group w-100" })
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    @Html.LabelFor(model => model.City, "Tỉnh thành", new { @class = "font-weight-bold" })
    @Html.TextBoxFor(model => model.City, new { @class = "form-control", type = "text" })

</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    @Html.LabelFor(model => model.Zipcode, new { @class = "font-weight-bold" })
    @Html.TextBoxFor(model => model.Zipcode, new { @class = "form-control", type = "text" })

</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.FullName,"Họ tên người liên hệ", new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", type = "text", required = true })
        @Html.ValidationMessageFor(model => model.FullName, string.Empty, new { @class = "invalid-feedback" })

    </div>
</div>

<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.Telephone, "SĐT người liên hệ", new { @class = "font-weight-bold" })
        <div class="input-group">

            @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @type = Model.IsHidePhoneNum == true ? "password" : "text", required = true })
            <div class="input-group-append">
                <div class="input-group-text">
                    @*@Html.CheckBox(nameof(Model.IsHideEmail),true)*@
                    <input type="checkbox" name="CoreUser.IsHidePhoneNum" class="chkHidField" checked="@(Model.IsHidePhoneNum == true ? "" : null)" value="true" onchange="this.value=this.checked" />

                </div>
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.Telephone, string.Empty, new { @class = "invalid-feedback" })

    </div>
</div>

<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.Department, "Tên bộ phận", new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.Department, new { @class = "form-control", type = "text" })
    </div>
</div>
<div class="col-12">
    <div class="form-group">

        @Html.LabelFor(model => model.Email, new { @class = "font-weight-bold" })
        <div class="input-group">

            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = Model.IsHideEmail == true ? "password" : "text", required = true })
            <div class="input-group-append">
                <div class="input-group-text">
                    @*@Html.CheckBox(nameof(Model.IsHideEmail),true)*@
                    <input type="checkbox" name="CoreUser.IsHideEmail" class="chkHidField" checked="@(Model.IsHideEmail == true ? "" : null)" value="true" onchange="this.value=this.checked" />

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <label class="section_title font-weight-bold" for="inputGender">Giới tính</label>
</div>
<div class="col-6">
    <div class="form-group d-flex lh-1-1 justify-content-center">
        <label class="mr-2" for="radMale">Nam</label>
        <div class="primary-radio">
            @Html.RadioButtonFor(model => model.Sex, true, new { @class = "form-control", @id = "radMale", @checked = "checked" })
            <label for="radMale"></label>
        </div>
    </div>
</div>
<div class="col-6">
    <div class="form-group d-flex lh-1-1 justify-content-center">
        <label class="mr-2" for="radFeMale">Nữ</label>
        <div class="primary-radio">
            @Html.RadioButtonFor(model => model.Sex, false, new { @class = "form-control", @id = "radFeMale" })
            <label for="radFeMale"></label>
        </div>
    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.EstablishYear, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.EstablishYear, new { @class = "form-control", type = "text" })
    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.Proceeds, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.Proceeds, new { @class = "form-control", type = "text" })
    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.AttendeeNumber, "Số lượng nhân viên", new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.AttendeeNumber, new { @class = "form-control", type = "text" })
    </div>
</div>
<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="form-group">

        @Html.LabelFor(model => model.Quantity, "Sản lượng (số sản phẩm/tháng)", new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", type = "text" })
    </div>
</div>
<div class="col-12">
    <div class="form-group">
        @*<label for="inputEquipments">Danh sách các loại máy móc/thiết bị phục vụ cho việc nghiên cứu</label>
            <input type="text" class="form-control" id="inputEquipments">*@
        @Html.LabelFor(model => model.Machines, "Danh sách các loại máy móc/thiết bị phục vụ cho việc nghiên cứu", new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.Machines, new { @class = "form-control", type = "text" })

    </div>
</div>


<div class="col-12">
    <label class="font-weight-bold" for="inputLastName">Hợp tác với HBIC</label>
</div>
@{ for (int i = 0; i < Model.FieldHbicCoops.Count(); i++)
    {
        var id = Model.FieldHbicCoops[i].Value;
        var name = Model.FieldHbicCoops[i].Text;
        <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="custom-control form-group custom-checkbox">
                @*id="@id" checked="@i.Selected" value="@id"*@
                <input type="checkbox" class="custom-control-input" asp-for="@Model.FieldHbicCoops[i].Selected">
                @*@Html.CheckBoxFor(model => fieldHbicCoops[i].Value,)*@
                <label class="custom-control-label" asp-for="@Model.FieldHbicCoops[i].Selected">@name</label>
                <input type="hidden" asp-for="@Model.FieldHbicCoops[i].Value" />
                <input type="hidden" asp-for="@Model.FieldHbicCoops[i].Text" />
            </div>
        </div>
    }
}