
@model BusinessObject.BOAdmin_Approved
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Quản lý tài khoản";

}
@section CssSection {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <style>
        .details-control:hover {
            background-color: #dff1fa;
        }
    </style>
}

@section ScriptsSection {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="~/js/demo/datatables-demo.js">
    </script>
    <script>
        $(document).ready(function () {

            let accountsJson = @Html.Raw(Json.Serialize(Model.ApprovedUsers));
            console.log(accountsJson);
            var table = LoadDataToTable(accountsJson);
              

            var CheckOKPassInfoActionModal = (title, message,url) => {
                $("#confirmActionModalLabel").html(title);
                $("#confirmActionModalBody").html(message);
                $("#confirmActionModal").modal("show");
                $("#confirmBtn").click(function () {

                    window.location.href = url;
                });
            }
            //Deny button
            $('#dataTable-btn-multideny').click(function () {
                console.log(table.rows('.selected').data().pluck('userId').toArray());
                var userIds = table.rows('.selected').data().pluck('userId').toArray();


                var url = "@Url.Action("DenyUsers", "Admin")" + "?userIds=" + userIds + "&returnUrl=" + "@Url.Action("MA_ApprovedAccounts", "Admin")";
                CheckOKPassInfoActionModal("Từ chối duyệt", "Bạn có chắc muốn từ chối duyệt những tài khoản này?", url);

                /*    alert(table.rows('.selected').data().length + ' row(s) selected');*/
            });

            $('#dataTable-btn-multiunapprove').click(function () {
                console.log(table.rows('.selected').data().pluck('userId').toArray());
                var userIds = table.rows('.selected').data().pluck('userId').toArray();


                var url = "@Url.Action("UnApproveUsers", "Admin")" + "?userIds=" + userIds + "&returnUrl=" + "@Url.Action("MA_ApprovedAccounts", "Admin")";
                CheckOKPassInfoActionModal("Chờ duyệt hàng loạt", "Bạn có chắc muốn đưa những tài khoản này về hàng chờ duyệt?", url);
                /*    alert(table.rows('.selected').data().length + ' row(s) selected');*/
            });
        })

        //$(document).ready(function () {
        //    var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
        //        removeItemButton: true,
        //        maxItemCount: 5,
        //        searchResultLimit: 5,
        //        renderChoiceLimit: 5,

        //    });

        //});

    </script>

    <script>
        $(document).ready(function () {
            $("#sltSubjectGroups").change(function () {
                var groupId = $("#sltSubjectGroups option:selected").val();
                console.log(groupId);
                $.ajax({
                    url: '@Url.Action("GetSubjectsByGroupId", "Admin")',
                    data: { groupId: groupId },
                    type: 'GET',
                    success: function (res) {
                        if (res.success) {

                            var s = "";
                            var subjects = res.data;
                            $("#subjects").children().remove();
                            console.log(subjects);

                            for (var i = 0; i < subjects.length; i++) {
                                s += '<option value="' + subjects[i].sysId + '">' + subjects[i].title + '</option>';
                            }
                            console.log(s);
                            $("#subjects").append(s);
                        }
                    }
                });
            })

        });
    </script>
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tài khoản đã duyệt</h1>
    <button id="btn-exportRp" onclick="capture()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </button>
</div>

@await Html.PartialAsync("../Shared/SearchViews/_SearchView", Model.SearchAccount)
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="d-inline-block m-0 font-weight-bold text-primary">Danh sách tài khoản đã duyệt</h6>
        <div class="d-md-inline-flex d-lg-inline-flex d-xl-inline-flex d-sm-inline-block justify-content-between align-items-center float-right">
            <div class="custom-control d-block custom-checkbox mb-sm-1 mb-lg-0 mb-md-0 mb-0 mr-xl-2 mr-lg-2 hov-pointer">
                <input type="checkbox" class="custom-control-input" id="selectAll-input">
                <label class="custom-control-label" for="selectAll-input">Chọn tất cả</label>
            </div>
            <a href="#" id="dataTable-btn-multiunapprove" class="d-block btn btn-sm btn-warning mr-xl-2 mr-md-2 mb-sm-2 mb-md-0 mb-xl-0 shadow-sm">
                <i class="fas fa-chevron-circle-left fa-sm text-white-50"></i> Chờ duyệt hàng loạt
            </a>
            <a href="#" id="dataTable-btn-multideny" class="d-block btn btn-sm btn-danger shadow-sm">
                <i class="fas fa-times-circle fa-sm text-white-50"></i> Từ chối hàng loạt
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>Tên đăng nhập</th>
                        <th>Email</th>
                        <th>Loại đối tượng</th>
                        <th>Loại tài khoản</th>
                        <th>Ngày tạo</th>


                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>

                        <th>Tên đăng nhập</th>
                        <th>Email</th>
                        <th>Loại đối tượng</th>
                        <th>Loại tài khoản</th>
                        <th>Ngày tạo</th>

                    </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="detail-info-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">
                    Thông tin người dùng
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div id="modal-form-row" class="form-row">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Bỏ duyệt</button>
            </div>
        </div>
    </div>
</div>


